<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Todo List App</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" *ngIf="login.isAuthenticated()" [routerLink]="['protegida']">Panel</a>
      </li>
    </ul>
    <span class="navbar-text">
        <button class="btn btn-outline-primary" (click)="salir()" type="button" *ngIf="login.isAuthenticated()">Salir</button>
    </span>
  </div>
</nav>
